<% include ../partials/boilerplate %>

<div class='login-reg'>
  <form method='POST' action='/auth/login'>
    <input class='bar' name='username' type='text' placeholder='username' required />
    <input class='bar' name='password' type='text' placeholder='password' required />
    <input class='enter' type='submit' value='Log In!'>
  </form>
</div>

<% include  ../partials/end %>
