<% include ../partials/boilerplate %>

<div class='login-reg'>
  <form method='POST' action='/auth/register'>
    <input class='bar' name='username' type='text' placeholder='username' required />
    <input class='bar' name='email' type='text' placeholder='email' required />
    <input class='bar' name='password' type='password' placeholder='password' required />
    <input class='bar' name='first_name' type='text' placeholder='firstname' required />
    <input class='bar' name='last_name' type='text' placeholder='lastname' required />
    <input class='enter' type='submit' value='Register!'>
  </form>
</div>

<% include  ../partials/end %>
