<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<div class='forum-hero'>
  <h1><%= forums[0].topic %></h1>
</div>
  <% for (let i= 0; i < forums.length; i++) { %>
  <div class='forum-view'>
    <a class='linkto' href='/threads/<%= forums[i].id %>'><%= forums[i].thread %></a>
  </div>
  <% } %>
<div class='forum-view'>
  <form method='POST' action='/threads/thread-add'>
    <input type='submit' value='Create'>
  </form>
</div>
<% include ../partials/end %>
