<% include ./partials/boilerplate %>

<div class='container-2'>
  <h3><%= subTitle %></h3>
</div>
<div class='login-reg'>
  <form method='POST' action='/auth/login'>
    <input class='bar' name='username' type='text' placeholder='username' required />
    <input class='bar' name='password' type='text' placeholder='password' required />
    <input class='enter' type='submit' value='Log In!'>
  </form>
</div>
<div class='register-main'>
  <a href='/auth/register'>Not yet a member?</a>
</div>

<% include ./partials/end %>
