<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='forum-container'>
    <form method='POST' action='/threads/<%= threadId %>?_method=DELETE'>
      <input type='submit' value='Delete it!' />
    </form>
</div>

<% include ../partials/end %>
