<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='forum-container'>
    <form method='POST' action='/forums/threads/threadId?_method=DELETE'>
      <input type='submit' value='Delete Thread!' />
    </form>
</div>
<% include ../partials/end %>
