<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<div class='login-reg'>
<form method='POST' action='/threads/<%= threads_id %>'>
  <input class='bar' name='post' type='text' placeholder='Type Here' />
  <input class='enter' type='submit' value='Post' />
</form>
</div>
<% include ../partials/end %>
