<% include ../partials/boilerplate %>

<form method='POST' action='/threads/<%= threads_id %>'>
  <input name='post' type='text' placeholder='Type Here' />
  <input type='submit' value='Post' />
</form>

<% include ../partials/end %>
