<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<div class='login-reg'>
<form method='POST' action='/threads/<%= threadId %>/posts/<%= postId %>?_method=PUT'>
  <input class='bar' name='post' type='text' value='<%= posts.post %>' />
  <input class='enter' type='submit' value='Edit!' />
</form>
</div>
<% include ../partials/end %>
