<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form method='POST' action='/threads/<%= threadId %>/posts/<%= postId %>?_method=PUT'>
  <input name='post' type='text' value='<%= posts.post %>' />
  <input type='submit' value='Edit!' />
</form>

<% include ../partials/end %>
