<% include ../partials/boilerplate %>

<form method='POST' action='/posts'>
  <input name='post' type='text' placeholder='Type Here' />
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>
